# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.dll

# Visaul Studio
*.iobj
*.ipdb
*.idb
*.pdb
*.tlog
*.log
*.ilk
*.user
*.exp
*.vc.db
*.*.manifest
*.cache
*.bsc

# Codeblocks
*.layout
*.depend

# CMake
#[cC][mM]ake[lL]ists.txt

/_Out/Comm/*
/Dependencies/gperftools-2.5
/Dependencies/lib
/Dependencies/boost_1_53_0
/Dependencies/curl-7.37.1
/Temp
/NoahFrame.v11.suo
/NoahFrame.opensdf
/*.opendb
/NoahFrame.sdf
/_Out/Comm/Debug/*.manifest
/_Out/Comm/Debug/*.exp
/_Out/Comm/Debug/*.ilk
/_Out/Comm/Debug/*.bsc
/_Out/Comm/Debug/*.pdb
/_Out/Comm/Debug/*.dll

/_Out/Comm/Release/*.manifest
/_Out/Comm/Release/*.exp
/_Out/Comm/Release/*.ilk
/_Out/Comm/Release/*.bsc
/_Out/Comm/Release/*.pdb
/_Out/Comm/Release/*.dll

/_Out/Server/NFDataCfg/Ini/
/_Out/Server/NFDataCfg/Struct/
/_Out/Server/NFDataCfg/Proto/
#/_Out/Server/Release/

#/_Out/Server/Debug/*
/Dependencies/curl
/.vs/
/NoahFrame.VC.db

#OSX .DS_Store
.DS_Store
/_Out/NFDataCfg/proto


Dependencies/libevent/Makefile.in
Dependencies/libevent/configure
#Dependencies/libevent/test/regress.gen.c
#Dependencies/libevent/test/regress.gen.h
Dependencies/protobuf/configure
Dependencies/protobuf/gtest/configure
_Out/NFDataCfg/Ini/Language.xml
_Out/NFDataCfg/Struct/Scene.xml
_Out/NFDataCfg/Struct/Skill.xml

Dependencies/libevent/.deps/
Dependencies/libevent/Makefile
Dependencies/libevent/config.h
Dependencies/libevent/config.status
Dependencies/libevent/include/event2/event-config.h
Dependencies/libevent/libevent.pc
Dependencies/libevent/libevent_core.pc
Dependencies/libevent/libevent_extra.pc
Dependencies/libevent/libevent_openssl.pc
Dependencies/libevent/libevent_pthreads.pc
Dependencies/libevent/libtool
Dependencies/libevent/sample/.deps/
Dependencies/libevent/sample/.dirstamp
Dependencies/libevent/sample/dns-example
Dependencies/libevent/sample/event-read-fifo
Dependencies/libevent/sample/hello-world
Dependencies/libevent/sample/http-connect
Dependencies/libevent/sample/http-server
Dependencies/libevent/sample/signal-test
Dependencies/libevent/sample/time-test
Dependencies/libevent/stamp-h1
Dependencies/libevent/stamp-h2
Dependencies/libevent/test/.deps/
Dependencies/libevent/test/.dirstamp
Dependencies/libevent/test/bench
Dependencies/libevent/test/bench_cascade
Dependencies/libevent/test/bench_http
Dependencies/libevent/test/bench_httpclient
Dependencies/libevent/test/regress
Dependencies/libevent/test/rpcgen-attempted
Dependencies/libevent/test/test-changelist
Dependencies/libevent/test/test-closed
Dependencies/libevent/test/test-dumpevents
Dependencies/libevent/test/test-eof
Dependencies/libevent/test/test-fdleak
Dependencies/libevent/test/test-init
Dependencies/libevent/test/test-ratelim
Dependencies/libevent/test/test-time
Dependencies/libevent/test/test-weof
Dependencies/protobuf/Makefile
Dependencies/protobuf/config.h
Dependencies/protobuf/config.status
Dependencies/protobuf/gtest/Makefile
Dependencies/protobuf/gtest/build-aux/config.h
Dependencies/protobuf/gtest/build-aux/stamp-h1
Dependencies/protobuf/gtest/config.status
Dependencies/protobuf/gtest/fused-src/gtest/.deps/
Dependencies/protobuf/gtest/lib/
Dependencies/protobuf/gtest/libtool
Dependencies/protobuf/gtest/samples/.deps/
Dependencies/protobuf/gtest/scripts/gtest-config
Dependencies/protobuf/gtest/src/.deps/
Dependencies/protobuf/gtest/src/.dirstamp
Dependencies/protobuf/gtest/test/.deps/
Dependencies/protobuf/libtool
Dependencies/protobuf/protobuf-lite.pc
Dependencies/protobuf/protobuf.pc
Dependencies/protobuf/src/.deps/
Dependencies/protobuf/src/.libs/
Dependencies/protobuf/src/Makefile
Dependencies/protobuf/src/google/protobuf/compiler/cpp/cpp_test_bad_identifiers.pb.cc
Dependencies/protobuf/src/google/protobuf/compiler/cpp/cpp_test_bad_identifiers.pb.h
Dependencies/protobuf/src/google/protobuf/unittest.pb.cc
Dependencies/protobuf/src/google/protobuf/unittest.pb.h
Dependencies/protobuf/src/google/protobuf/unittest_custom_options.pb.cc
Dependencies/protobuf/src/google/protobuf/unittest_custom_options.pb.h
Dependencies/protobuf/src/google/protobuf/unittest_embed_optimize_for.pb.cc
Dependencies/protobuf/src/google/protobuf/unittest_embed_optimize_for.pb.h
Dependencies/protobuf/src/google/protobuf/unittest_empty.pb.cc
Dependencies/protobuf/src/google/protobuf/unittest_empty.pb.h
Dependencies/protobuf/src/google/protobuf/unittest_import.pb.cc
Dependencies/protobuf/src/google/protobuf/unittest_import.pb.h
Dependencies/protobuf/src/google/protobuf/unittest_import_lite.pb.cc
Dependencies/protobuf/src/google/protobuf/unittest_import_lite.pb.h
Dependencies/protobuf/src/google/protobuf/unittest_import_public.pb.cc
Dependencies/protobuf/src/google/protobuf/unittest_import_public.pb.h
Dependencies/protobuf/src/google/protobuf/unittest_import_public_lite.pb.cc
Dependencies/protobuf/src/google/protobuf/unittest_import_public_lite.pb.h
Dependencies/protobuf/src/google/protobuf/unittest_lite.pb.cc
Dependencies/protobuf/src/google/protobuf/unittest_lite.pb.h
Dependencies/protobuf/src/google/protobuf/unittest_lite_imports_nonlite.pb.cc
Dependencies/protobuf/src/google/protobuf/unittest_lite_imports_nonlite.pb.h
Dependencies/protobuf/src/google/protobuf/unittest_mset.pb.cc
Dependencies/protobuf/src/google/protobuf/unittest_mset.pb.h
Dependencies/protobuf/src/google/protobuf/unittest_no_generic_services.pb.cc
Dependencies/protobuf/src/google/protobuf/unittest_no_generic_services.pb.h
Dependencies/protobuf/src/google/protobuf/unittest_optimize_for.pb.cc
Dependencies/protobuf/src/google/protobuf/unittest_optimize_for.pb.h
Dependencies/protobuf/src/protobuf-lazy-descriptor-test
Dependencies/protobuf/src/protobuf-lite-test
Dependencies/protobuf/src/protobuf-test
Dependencies/protobuf/src/protoc
Dependencies/protobuf/src/test_plugin
Dependencies/protobuf/src/testzip.jar
Dependencies/protobuf/src/testzip.list
Dependencies/protobuf/src/testzip.proto
Dependencies/protobuf/src/testzip.zip
Dependencies/protobuf/src/unittest_proto_middleman
Dependencies/protobuf/stamp-h1
_Out/Debug/
_Out/NFDataCfg/Tool/NFFileProcess
_Out/Release/

